<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>List</title>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <form th:action="@{/manager/editquestion}" method="post" th:object="${ques}">
            <div class="modal-header">
                <h4 class="modal-title">Add Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Question ID</label>
                    <input th:field="*{id}"   type="text" th:value="${ques.id}" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input th:field="*{title}" type="text"  th:value="${ques.title}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input th:field="*{image}" type="url" class="form-control">
                </div>
                <div class="form-group">
                    <label>Option 1</label>
                    <input th:field="*{op1}" type="text" th:value="${ques.op1}"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Option 2</label>
                    <input th:field="*{op2}" type="text" th:value="${ques.op2}"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Option 3</label>
                    <input th:field="*{op3}" type="text" th:value="${ques.op3}"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Option 4</label>
                    <input th:field="*{op4}" type="text" th:value="${ques.op4}"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Answer</label>
                    <input th:field="*{ans}" type="text"  th:value="${ques.ans}" class="form-control" required>
                </div>

                <div class="form-group">

                    <label>Subject
                        <input th:field="*{subjectID}"  type="hidden" th:value="${subject.subjectId}" >
                        <input  type="text" readonly th:value="${subject.subjectName}" class="form-control" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Chapter</label>
                    <select th:field="*{chapterID}">
                        <option th:each="chapter :${chapter}"  th:value="${chapter.id}" th:text="${chapter.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Level</label>
                    <select th:field="*{levelID}">
                        <option th:each="level :${level}" th:value="${level.id}" th:text="${level.name}"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a th:href="@{/manager/questionbank}" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="submit" class="btn btn-success" value="Save">
            </div>
        </form>
    </div>
</div>
</body>
</html>