<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <div th:insert="~{admin/resources :: head}"></div>
    <div th:insert="~{admin/resources :: extra}"></div>
</head>

<body>
<div class="container">
    <div id="loginbox" style="margin-top: 50px;" class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
        <div class="card border-info">
            <div class="card-header bg-info">
            Change Password
            </div>

            <div class="card-body">
                <div class="card-text">

                    <!-- Login Form -->
<!--                    <form action="" th:action="@{/chagepassword}" method="POST" class="form-horizontal">-->
                    <form th:action="@{/changepassword}" th:object="${change}" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-15">
                                <div th:if="${error}">
                                    <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                        <span th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 25px;" class="input-group">
                            <input type="password" th:field="*{oldpassword}" placeholder="Old password" class="form-control" />
                        </div>
                        <div style="margin-bottom: 25px;" class="input-group">
                            <input type="password" th:field="*{newpassword}" placeholder="New Password" class="form-control" />
                        </div>
                        <div style="margin-bottom: 25px;" class="input-group">
                            <input type="password" th:field="*{reenter}" placeholder="Re-enter New Password" class="form-control" />
                        </div>

                        <!-- Place for messages: error, alert etc ... -->
                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>
                                    <!-- Check for login error -->
                                    <div th:if="${param.error}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Invalid username and password.
                                        </div>

                                    </div>
                                    <!-- Check for logout -->
                                    <div th:if="${param.logout}">
                                        <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                            You have been logout
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- User name -->
                            <!-- Login/Submit Button -->
                        <div style="margin-top: 10px;" class="form-group">
                                <button type="submit" class="btn btn-success">Change</button>
                               <a href="/">
                                   <span class="btn btn-success">Cancel</span>
                               </a>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
