<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }
    .error-container {
        text-align: center;
    }
    .error-message {
        margin-top: 20px;
        font-size: 24px;
        color: #333;
    }
    .error-image {
        width: 300px;
        height: auto;
    }
  </style>
</head>
<body>
<div class="error-container">
  <img class="error-image" src="https://images.vexels.com/media/users/3/128332/isolated/preview/13bcbc98044bbd2bd1d614b83db76de7-oops-bubble-svg.png" alt="Error Image">
  <div class="text-danger">
    <h5>[[${errorMessage}]]</h5>
  </div></div>
</body>
</html>