<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Admin Info</title>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<div class="container">
    <form id="userForm" th:action="@{/admin/users/save/admin(oldRole=${old_role})}" th:object="${user}" method="POST">
        <div class="modal-header">
            <h4 class="modal-title">Admin Info</h4>
            <a href="../home">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            </a>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>User ID <span style="color:red;">*</span></label>
                <input id="userId" th:field="*{user.userId}" type="text" readonly class="form-control" required>
            </div>
            <div class="form-group">
                <label>Username <span style="color:red;">*</span></label>
                <input th:field="*{user.username}" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <input th:field="*{user.password}" type="hidden" th:value="*{user.password}" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Full Name <span style="color:red;">*</span></label>
                <input th:field="*{user.fullname}" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Email <span style="color:red;">*</span></label>
                <input th:field="*{user.useremail}" type="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Role <span style="color:red;">*</span></label>
                <br>
                <select id="role" th:field="*{user.role}" onchange="handleRoleChange(this)">
                    <option th:value="'Admin'" selected>Admin</option>
                    <option th:value="'Manager'">Manager</option>
                    <option th:value="'Teacher'">Teacher</option>
                    <option th:value="'Student'">Student</option>
                </select>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input th:field="*{title}" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input th:field="*{user.enabled}" th:value="*{user.enabled}" type="hidden" class="form-control" required>
            </div>
        </div>
        <div class="modal-footer">
            <a href="../admins" class="btn btn-info">Return to Admins</a>
            <a href="../home" class="btn btn-primary">Return Home</a>
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
</div>
<script type="text/javascript">
    function handleRoleChange(selectElement) {
        var selectedRole = selectElement.value;
//            console.log("Selected role: " + selectedRole); // Debug print for selectedRole
//            var userId = document.getElementById('userId').value;
        var confirmation = confirm("Are you sure you want to change the role to " + selectedRole + "? Consult the user before changing this field.");
        if (confirmation) {
//                console.log("New role value set in the form: " + document.getElementById('role').value); // Debug print for the new value
//                console.log("User ID: " + document.getElementById('userId').value); // Debug print for userId
            // Submit the form with updated role and userId
            document.getElementById('userForm').action = "/admin/users/changerole/admin";
            document.getElementById('userForm').submit();
        } else {
            // Revert to the previous selection if not confirmed
            selectElement.value = document.getElementById('role').dataset.currentRole;
        }
    }
</script>
</body>
</html>