<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Import Excel File</title>
    <!-- Include Bootstrap CSS for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include FontAwesome for icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h3>Import Excel File</h3>

    <!-- Link to download the sample file -->
    <h3>Download Sample File</h3>
    <div class="input-group-append mb-3">
        <a th:href="@{/questionTemplate.xlsx}" download class="btn btn-secondary btn-number">
            <i class="fa fa-download"></i> Download Sample Excel File
        </a>
    </div>

    <!-- Form to upload file -->
    <form method="post" enctype="multipart/form-data" th:action="@{/excelapprove/process}">
        <div class="form-group">
            <label for="file">Choose Excel File</label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-upload"></i> Import
        </button>
    </form>
</div>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
