<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Homepage</title>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="~{resources :: navbar-top}"></div>

<!-- brand search -->

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!--                <div class="carousel-indicators">
                        <button
                            type="button"
                            data-mdb-target="#carouselExampleCaptions"
                            data-mdb-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"
                            ></button>
                        <button
                            type="button"
                            data-mdb-target="#carouselExampleCaptions"
                            data-mdb-slide-to="1"
                            aria-label="Slide 2"
                            ></button>
                        <button
                            type="button"
                            data-mdb-target="#carouselExampleCaptions"
                            data-mdb-slide-to="2"
                            aria-label="Slide 3"
                            ></button>
                    </div>-->
    </br>
    </br>

    </br>

    <div class="carousel-inner" >
        <div class="carousel-item active" style="height: 600px;">
            <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Welcome to Manager Dashboard</strong>
                </h1>

                <p>
                    <strong></strong>
                </p>

                <!--                            <p class="mb-4 d-none d-md-block">
                                                <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                                                    available. Create your own, stunning website.</strong>
                                            </p>

                                            <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start free tutorial
                                                <i class="fas fa-graduation-cap ms-2"></i>
                                            </a>-->
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>

        </div>

    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
            <!-- Container wrapper -->
            <div class="container-fluid">
                        <a class="nav-link me-3" href="mocktests">
                            <i class=""></i>MockTest
                        </a>
                       <a class="nav-link me-3" href="materials">
                           <i class=""></i>Material
                       </a>
                       <a class="nav-link me-3" href="questionbank">
                           <i class=""></i>Question Bank
                       </a>
                <a class="nav-link me-3" href="questionrequest">
                    <i class=""></i>Question Request
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent2">

                    <!-- Search -->
                    <form class="w-auto py-1" style="max-width: 12rem">
                        <div class="input-group">

                            <input type="text" name="keyword" class="form-control rounded-0" placeholder="Title" aria-label="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary btn-number">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div><!-- comment -->
                    </form>

                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
    </div>
    <main>
        <div class="container">
            <!-- Products -->



            <table class="table table-striped table-hover">
                <thead>
                <tr>

                    <th>ID</th>
                    <th>Mock Test Title</th>
                    <th>Subject</th>
                    <th></th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="test : ${mock}">
                    <td th:text="${test.id}"></td>
                    <td th:text="${test.title}"></td>
                    <td th:each="subject:${subject}" th:if="${subject.subjectId}==${test.subjectId}" th:text="${subject.subjectName}"></td>
                    <td>
                        <a th:href="@{/test/analysis/{id}(id=${test.id})}">View Result</a>
                    </td>
                </tr>

                </tbody>
            </table>

            <!-- Pagination -->
            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                <ul class="pagination">
                    <th:forEach var="o" begin="1" end="${a}">
                        <li class="page-item active">
                            <!--                            <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>-->

                        <li class="page-item" ${indexPage==o?"active":""}><a class="page-link" href="home?index=${o}">${o}</a></li>



                        <li class="page-item">
                            <!--                            <a class="page-link" href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>-->
                        </li>
                    </th:forEach>
                </ul>
            </nav>
            <!-- Pagination -->
        </div>
        <div id="viewMockTest" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="add">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Product</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input name ="image" type="url" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input name ="price" type="number" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input name="title" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input name="des" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                <select name="brand">
                                    <c:forEach var="o" items="${listB}">
                                        <option value="${o.bid}">${o.bname}</option>
                                    </c:forEach>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!--Main layout-->
</div>

</body>
</html>