<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
<!-- Navbar -->
<div th:insert="~{nav.html}"></div>

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">

    </br>
    </br>

    </br>

    <div class="carousel-inner" >
        <div class="carousel-item active" style="height: 600px;">
            <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Welcome to Manager Dashboard</strong>
                </h1>

                <p>
                    <strong></strong>
                </p>


            </div>
        </div>

        <div class="carousel-item">
            <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>

        </div>

    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
            <!-- Container wrapper -->
            <div class="container-fluid">
                        <a class="nav-link me-3" href="mocktests">
                            <i class=""></i>MockTest
                        </a>
                       <a class="nav-link me-3" href="materials">
                           <i class=""></i>Material
                       </a>
                       <a class="nav-link me-3" href="questionbank">
                           <i class=""></i>Question Bank
                       </a>
                <a class="nav-link me-3" href="questionrequest">
                    <i class=""></i>Question Request
                </a>

                <div style="display: flex; justify-content: end; " class="collapse navbar-collapse" id="navbarSupportedContent2">

                    <!-- Search -->
                    <form class="w-auto py-1" style="max-width: 12rem">
                        <div class="input-group">

                            <input type="text" name="keyword" class="form-control rounded-0" placeholder="Title" aria-label="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary btn-number">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div><!-- comment -->
                    </form>

                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
    </div>
    <main>
        <div class="container">
            <!-- Products -->



            <table class="table table-striped table-hover">
                <thead>
                <tr>

                    <th>ID</th>
                    <th>Mock Test Title</th>
                    <th>Subject</th>
                    <th></th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="test : ${mock}">
                    <td th:text="${test.id}"></td>
                    <td th:text="${test.title}"></td>
                    <td th:each="subject:${subject}" th:if="${subject.subjectId}==${test.subjectId}" th:text="${subject.subjectName}"></td>
                    <td>
                        <a th:href="@{/test/analysis/{id}(id=${test.id})}"><i class="bi bi-eye"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <!-- Pagination -->

            <!-- Pagination -->
        </div>

    </main>
    <!--Main layout-->
</div>

</body>
</html>