<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<div th:insert="~{resources :: navbar-top}"></div>

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    </br>
    </br>
    </br>
    <div class="carousel-inner" >
        <div class="carousel-item active" style="height: 600px;">
            <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Teacher Homepage</strong>
                </h1>
                <h2>View</h2>
            </div>
        </div>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent2"
                        aria-controls="navbarSupportedContent2"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between">
                        <li class="nav-item"><a th:href="@{/teacher/questionbank/{subjectid}(subjectid=${subjectid})}" class="nav-link text-white">View question bank</a></li>
                        <li></li>
                        <li></li>
                        <li>
                            <!-- Search -->
                            <form class="w-auto py-1" style="max-width: 12rem">
                                <div class="input-group">

                                    <input type="text" name="keyword" class="form-control rounded-0" placeholder="Title" aria-label="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary btn-number">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="container">
            <section>
                <div class="text-center">
                    <form name="f" action="" method="post">
                        </br>
                        <div class="row">
                            <div th:if="${classes.isEmpty()}">
                                <p>No classes available for this teacher.</p>
                            </div>
                            <div  th:each="class : ${classes}" class="col-lg-3 col-md-6 mb-4" th:unless="${classes.isEmpty()}">
                                <div class="card" style="height: 500px;">
                                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                         data-mdb-ripple-color="light">
                                        <img src="https://media3.giphy.com/media/LYBMuRwH3JkhdmLbGE/giphy.gif?cid=790b76118lk4jeyv5csbwycdfw5k5hte71kvz9yidct0gthc&ep=v1_stickers_search&rid=giphy.gif&ct=s"
                                             class="w-100" style="height: 320px;"/>
                                        <a href="#!">
                                            <div class="mask">

                                            </div>
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a th:href="@{/teacher/classpage/{classcode}(classcode=${class.classCode})}" class="text-reset">
                                            <h5 class="card-title mb-2" th:text="${class.className}"></h5>
                                        </a>
                                        <a href="" class="text-reset ">
                                            <p></p>
                                        </a>
                                        <h6 class="mb-3 price"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>
</div>
<div th:insert="~{resources :: user-profile}"></div>
</body>
</html>