<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Students</title>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="~{resources :: navbar-top}"></div>
<!-- brand search -->

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel"></div>
</br>
</br>

</br>

<div class="carousel-inner" >
    <div class="carousel-item active" style="height: 600px;">
        <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" class="d-block w-100" alt="Wild Landscape"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
        <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="mb-4">
                <strong>Students</strong>
            </h1>
        </div>
    </div>
    <div class="carousel-item">
        <img src="https://t4.ftcdn.net/jpg/06/31/10/81/240_F_631108181_D8NQEosIiQdvs6zdaIl86hEfns2WeIHr.jpg" class="d-block w-100" alt="Camera"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
        <div class="carousel-caption d-none d-md-block mb-5">
            <h1 class="mb-4">
                <strong>Learn Bootstrap 5 with MDB</strong>
            </h1>

            <p>
                <strong>Best & free guide of responsive web design</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                    available. Create your own, stunning website.</strong>
            </p>

            <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start free tutorial
                <i class="fas fa-graduation-cap ms-2"></i>
            </a>
        </div>
    </div>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="home">All Users</a>
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent2"
                    aria-controls="navbarSupportedContent2"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent2">
                <div th:insert="~{resources :: navbar-main-links}"></div>
                <!-- Search -->
                <form action="search" method="post" class="w-auto py-1">
                    <div class="input-group justify-content-end">
                        <input type="text" name="txt" class="form-control rounded-0" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary btn-number"/>
                            &nbsp;<i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div><!-- comment -->
                </form>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
</div>

<!--Main layout-->
<main>
    <div class="container">
        <!-- Navbar -->

        <!-- Navbar -->

        <!-- Products -->
        <section>
            <div th:if="${param.saved}">
                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                    New student account info saved.
                </div>
            </div>
            <div th:if="${param.disabled}">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                    Student account disabled.
                </div>
            </div>
            <div th:if="${param.enabled}">
                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                    Student account enabled.
                </div>
            </div>
            <a href="#addStudentModal" class="btn btn-primary btn-sm mb-3" data-toggle="modal">
                <span>Add Student</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg>
            </a>
            <div id="addStudentModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/admin/users/save/student}" th:object="${student}" method="POST">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Student</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label>Username <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.username}" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Password <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.password}" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Full Name <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.fullname}" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Email <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.useremail}" type="email" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Class <span style="color:red;">*</span></label>
                                    <br>
                                    <select th:field="*{classCode}" required>
                                        <option th:each="class:${classes}" th:text="${class.className}" th:value="${class.classCode}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a th:if="${param.addFromMain}" th:href="@{/admin/home}" class="btn btn-secondary">Cancel</a>
                                <input th:unless="${param.addFromMain}" type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <tr th:each="student : ${students}">
                    <td th:text="${student.user.userId}"></td>
                    <td th:text="${student.user.username}"></td>
                    <td th:text="${student.user.password}"></td>
                    <td th:text="${student.user.fullname}"></td>
                    <td th:text="${student.user.useremail}"></td>
                    <td th:text="${student.sclass.className}"></td>
                    <td th:text="${student.user.enabled ? 'Yes' : 'No'}"></td>
                    <td>
                        <a th:href="@{/admin/users/update(userId=${student.user.userId})}" class="text-warning"><i class="material-icons" data-toggle="tooltip" title="Update">&#xE254;</i></a>
                        <!--Disabling-->
                        <div th:if="${student.user.enabled}" th:id="'disable-message-' + ${student.user.userId}" style="display: none;" th:data-disable-message="'Disable this user?&#10;User ID: ' + ${student.user.userId} + '&#10;Username: ' + ${student.user.username}"></div>
                        <a th:if="${student.user.enabled}" th:href="@{/admin/users/disable(userId=${student.user.userId})}" class="text-danger"
                           th:onclick="if(!confirm(document.getElementById('disable-message-' + [[${student.user.userId}]]).getAttribute('data-disable-message'))) return false">
                            <i class="material-icons" data-toggle="tooltip" title="Disable">&#xe8ac;</i>
                        </a>
                        <!--Enabling-->
                        <div th:if="!${student.user.enabled}" th:id="'enable-message-' + ${student.user.userId}" style="display: none;" th:data-enable-message="'Enable this user?&#10;User ID: ' + ${student.user.userId} + '&#10;Username: ' + ${student.user.username}"></div>
                        <a th:if="!${student.user.enabled}" th:href="@{/admin/users/enable(userId=${student.user.userId})}" class="text-success"
                           th:onclick="if(!confirm(document.getElementById('enable-message-' + [[${student.user.userId}]]).getAttribute('data-enable-message'))) return false">
                            <i class="material-icons" data-toggle="tooltip" title="Enable">&#xe8ac;</i>
                        </a>
                        <!--End of cell-->
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <!-- Pagination -->
        <!-- Pagination -->
    </div>
</main>
<!--Main layout-->
<script th:inline="javascript">
    $(document).ready(function(){
        // Check if modal parameter is present in URL
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has('addFromMain')){
            // Open the modal
            $('#addStudentModal').modal('show');
        }
    });
</script>
</body>
</html>