<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
                        <a href="/students" class="btn btn-primary" ><i class="material-icons">&#xE15C;</i> <span>Home</span></a>
                    </div>
                </div>
            </div>
           
<h1>Kết quả của bạn</h1>
<p>Câu trả lời đúng: <span th:text="${correctCount}"></span>/<span th:text="${totalQuestion}"></span></p>
        <p>Điểm số: <span class="score" th:text="${score}"></span></p>
         
        
        <div th:each="detail, detailIndex : ${resultDetails}">
        <div>
        <span th:text="'Câu ' + ${detailIndex.index + 1} + ': ' +${detail['questionContent']}"></span>
       
                    
        <span>
        <span th:if="${detail['isCorrect']}" style="color: green;">
        <i class="fas fa-check"></i> 
    </span>
    <span th:unless="${detail['isCorrect']}" style="color: red;">
        <i class="fas fa-times"></i> 
    </span>
        </span>
        
        <div th:if="${detail['questionImage'] != null and !detail['questionImage'].isEmpty()}">
            <img th:src="${detail['questionImage']}" alt="Question Image">
        </div>
        </div>
        
        <div>
        Your answer: <span th:text="${detail['userAnswer']}" ></span>
        </div>
        <div>
        Correct answer: <span th:text="${detail['correctAnswer']}"></span>
        </div>
<br/>
<hr/>
        </div>
    </div>
</div>

</body>
