<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<div class="container">
    <div class="left-panel">
        <form id="mocktestform" th:action="@{/submitChapterQuiz(chapterid=${chapter.id})}" method="post">
            <div th:each="question, questionIndex : ${questions}">
                <div class="question-container" th:id="'question-' + ${question.questionid}">
                    <div class="question" th:text="'Câu ' + (${questionIndex.index} + 1) + ': ' + ${question.questiontitle}"></div>
                    <div th:if="${question.image != null and !question.image.isEmpty()}">
                        <img th:src="${question.image}" alt="Question Image">
                    </div>
                    <div class="options">
                        <div class="option">
                            <input type="radio" th:name="${question.questionid}" th:value="${question.option1}" id="option1_${question.questionid}" />
                            <label th:for="'option1_' + ${question.questionid}" th:text="${question.option1}"></label>
                        </div>
                        <div class="option">
                            <input type="radio" th:name="${question.questionid}" th:value="${question.option2}" id="option2_${question.questionid}" />
                            <label th:for="'option2_' + ${question.questionid}" th:text="${question.option2}"></label>
                        </div>
                        <div class="option">
                            <input type="radio" th:name="${question.questionid}" th:value="${question.option3}" id="option3_${question.questionid}" />
                            <label th:for="'option3_' + ${question.questionid}" th:text="${question.option3}"></label>
                        </div>
                        <div class="option">
                            <input type="radio" th:name="${question.questionid}" th:value="${question.option4}" id="option4_${question.questionid}" />
                            <label th:for="'option4_' + ${question.questionid}" th:text="${question.option4}"></label>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>

    <div class="right-panel">
   <div class="mockTestTitle" th:text="${chapter.name}"></div>
    <br/>
    
    <div class="subjectName" th:text ="'Mon hoc: '+${subject.subjectname}"></div>
    <br/>
     
    <div class="header">
    <h1 th:text="${subjectid}"></h1>
    <div class="timer-wrapper">
        <span>Thời gian còn lại: </span>
        <div class="timer" id="timer" th:text="${time}"></div>
    </div>
    
</div>
   
 
        <br/>
        <div class="question-numbers" id="question-numbers">
            <div th:each="question, questionIndex : ${questions}" class="question-number" th:text="${questionIndex.index + 1}" th:data-id="${question.questionid}"></div>
        </div>
        <br/>
        <button type="button" class="submit-btn" id="submitBtn">Submit</button>
    </div>
</div>
<!-- Modal -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Bạn có chắc chắn muốn nộp bài không?</p>
        <button class="confirm-btn" id="confirmSubmit">Có</button>
    </div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/

$(document).ready(function() {
    let mid = /*[[${mid}]]*/ 'default';
    let username = /*[[${username}]]*/ 'defaultUser';
    let selectedAnswers = JSON.parse(localStorage.getItem(username + "_mt" + mid)) || {};

    for (const [questionId, selectedAnswer] of Object.entries(selectedAnswers)) {
        $(`input[name=${questionId}][value='${selectedAnswer}']`).prop('checked', true);
        $(`.question-number[data-id=${questionId}]`).addClass('completed');
    }

    $('input[type="radio"]').on('change', function() {
        var questionId = $(this).attr('name');
        var selectedAnswer = $(this).val();
        selectedAnswers[questionId] = selectedAnswer;

        localStorage.setItem(username + "_mt" + mid, JSON.stringify(selectedAnswers));
        $(`.question-number[data-id=${questionId}]`).addClass('completed');
    });

    $('#mocktestform').on('submit', function() {
        localStorage.removeItem(username + "_mt" + mid);
        localStorage.removeItem(username + "_mt" + mid + 'remainingTime');
    });

    $('.question-number').on('click', function() {
        var questionId = $(this).data('id');
        var questionOffset = $(`#question-${questionId}`).offset().top;
        var leftPanelOffset = $('.left-panel').scrollTop();
        $('.left-panel').animate({
            scrollTop: leftPanelOffset + questionOffset - $('.left-panel').offset().top
        }, 500);
    });
    let timeStr = /*[[${time}]]*/ 'default'; 
    let parts = timeStr.split(':');
    let totalTime = (+parts[0]) * 3600 + (+parts[1]) * 60 + (+parts[2]);

    

    
    let savedTime = localStorage.getItem(username + "_mt" + mid + 'remainingTime');
    if (savedTime) {
        totalTime = Math.min(totalTime, savedTime);
    }
    let timerElement = document.getElementById('timer');

    function startTimer() {
        setInterval(function() {
            let hours = Math.floor(totalTime / 3600);
            let minutes = Math.floor((totalTime % 3600) / 60);
            let seconds = totalTime % 60;

            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            timerElement.textContent = hours + ':' + minutes + ':' + seconds;

            if (totalTime <= 0) {
                submitMockTest();
            } else {
                totalTime--;
                localStorage.setItem(username + "_mt" + mid + 'remainingTime', totalTime);
            }
        }, 1000);
    }

    function submitMockTest() {
        localStorage.removeItem(username + "_mt" + mid);
        localStorage.removeItem(username + "_mt" + mid + 'remainingTime');
        document.getElementById('mocktestform').submit();
    }
    
    var modal = document.getElementById("confirmationModal");
    var btn = document.getElementById("submitBtn");
    var span = document.getElementsByClassName("close")[0];
    var confirmBtn = document.getElementById("confirmSubmit");

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    confirmBtn.onclick = function() {
        modal.style.display = "none";
        submitMockTest();
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    startTimer();
});

/*]]>*/
</script>
</body>
</html>