<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<div class="container align-items-center">
    <div class="row">
        <div id="loginbox" class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 mt-2">
            <div class="card text-white border-info">
                <h2 class="card-header bg-info">
                    Change Password
                </h2>
                <div class="card-body">
                    <div class="card-text">
                        <!-- Login Form -->
                        <form th:action="@{/changepassword}" method="POST" class="form-horizontal">
                            <!-- Place for messages: error, alert etc ... -->
                            <div class="form-group col-12">
                                <!-- Check for password mismatch -->
                                <div th:if="${param.incorrect}">
                                    <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                        Incorrect current password.
                                    </div>
                                </div>
                                <div th:if="${param.mismatch}">
                                    <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                        New password and confirmation don't match.
                                    </div>
                                </div>
                            </div>

                            <!-- New Password -->
                            <div class="input-group mb-4">
                                <input type="password" name="old" placeholder="Enter Current Password" class="form-control"/>
                            </div>
                            <div class="input-group mb-4">
                                <input type="password" name="new" placeholder="Enter New Password" class="form-control"/>
                            </div>
                            <div class="input-group mb-4">
                                <input type="password" name="confirm" placeholder="Confirm New Password" class="form-control"/>
                            </div>

                            <!-- Confirm Button -->
                            <div class="row mb-3">
                                <button type="submit" class="btn btn-success col-6 offset-3">
                                    Change Password
                                </button>
                            </div>
                            <div class="row">
                                <a th:href="@{/}" class="btn btn-info col-6 offset-3">
                                    Return
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>