<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Students</title>
    <div th:insert="~{resources :: head}"></div>
    <div th:insert="~{resources :: extra}"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="~{resources :: navbar-top}"></div>
<!-- brand search -->

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel"></div>
</br>
</br>
</br>
<div class="carousel-inner">
    <div class="carousel-item active" style="height: 600px;">
        <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" class="d-block w-100" alt="Wild Landscape"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
        <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="mb-4">
                <strong>Students</strong>
            </h1>
        </div>
    </div>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="home">All Users</a>
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent2"
                    aria-controls="navbarSupportedContent2"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent2">
                <div th:insert="~{resources :: navbar-main-links}"></div>
                <!-- Search -->
                <form th:action="@{/admin/students}" method="get" class="w-auto py-1">
                    <div class="input-group justify-content-end">
                        <input type="text" name="search" class="form-control rounded-0" placeholder="Search" aria-label="Search" required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary btn-number"/>
                            &nbsp;<i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
</div>

<!--Main layout-->
<main>
    <div class="container">
        <section>
            <div th:if="${param.saved}">
                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                    New student account info saved.
                </div>
            </div>
            <div th:if="${#conversions.convert(param.success, 'java.lang.Integer') > 0}">
                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                    Successfully imported [[${param.success}]] student account(s).
                </div>
            </div>
            <div th:if="${#conversions.convert(param.fail, 'java.lang.Integer') > 0}">
                <div class="alert alert-warning col-xs-offset-1 col-xs-10">
                    Failed to import [[${param.fail}]] student account(s).
                </div>
            </div>
            <div th:if="${param.disabled}">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                    Student account disabled.
                </div>
            </div>
            <div th:if="${param.enabled}">
                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                    Student account enabled.
                </div>
            </div>
            <div th:if="${param.uniqueconstraint}">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                    Some fields conflict with existing data (username and email must be unique).
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4 text-center align-items-center">
                <div class="d-flex justitfy-content-end col-3">
                    <select class="form-select" id="classFilter" onchange="classFilter(this)">
                        <option selected disabled>Filter by Class</option>
                        <option th:each="class:${classes}" th:value="${class.classCode}" th:text="${class.className}"></option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:if="${param.filter}" class="btn btn-sm btn-danger" th:href="@{/admin/students}">
                        <span>Cancel Filter &times;</span>
                    </a>
                </div>
                <div th:if="${param.filter}" class="col-6">
                    <h2 th:each="class : ${classes}" th:if="${#strings.toString(class.classCode) == #strings.toString(param.filter)}" th:text="'Students in class ' + ${class.className}"></h2>
                </div>
                <h2 th:if="${param.search}" th:text="'Showing search results for \'' + ${param.search} + '\''" class="col-6"></h2>
                <h2 th:if="${param.search == null and param.filter == null}" class="col-6">All Students</h2>
                <div class="col-3 text-right">
                <a href="#addStudentModal" class="btn btn-primary btn-sm mb-3" data-toggle="modal">
                    <span>Add Students</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                </a>
                </div>
            </div>
            <div id="addStudentModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/admin/users/save/student}" th:object="${student}" method="POST">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Student</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label>Username <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.username}" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Password <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.password}" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Full Name <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.fullname}" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Email <span style="color:red;">*</span></label>
                                    <br>
                                    <input th:field="*{user.useremail}" type="email" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Class <span style="color:red;">*</span></label>
                                    <br>
                                    <select th:field="*{sclass.classCode}" required>
                                        <option th:each="class:${classes}" th:text="${class.className}" th:value="${class.classCode}"></option>
                                    </select>
                                </div>
                                <h2 class="text-center"> Or </h2>
                                <a th:href="@{/admin/import?student}" class="btn btn-info col-12">Import from File</a>
                            </div>
                            <div class="modal-footer">
                                <a th:if="${param.addFromMain}" th:href="@{/admin/home}" class="btn btn-secondary">Cancel</a>
                                <input th:unless="${param.addFromMain}" type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Class</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <tr th:each="student : ${students}">
                    <td th:text="${student.user.userId}"></td>
                    <td th:text="${student.user.username}"></td>
                    <td th:text="${student.user.fullname}"></td>
                    <td th:text="${student.user.useremail}"></td>
                    <td th:text="${student.sclass.className}"></td>
                    <td th:text="${student.user.enabled ? 'Yes' : 'No'}"></td>
                    <td>
                        <a th:href="@{/admin/users/update(userId=${student.user.userId})}" class="text-warning"><i class="material-icons" data-toggle="tooltip" title="Update">&#xE254;</i></a>
                        <!--Disabling-->
                        <div th:if="${student.user.enabled}" th:id="'disable-message-' + ${student.user.userId}" style="display: none;" th:data-disable-message="'Disable this user?&#10;User ID: ' + ${student.user.userId} + '&#10;Username: ' + ${student.user.username}"></div>
                        <a th:if="${student.user.enabled}" th:href="@{/admin/users/disable(userId=${student.user.userId})}" class="text-danger"
                           th:onclick="if(!confirm(document.getElementById('disable-message-' + [[${student.user.userId}]]).getAttribute('data-disable-message'))) return false">
                            <i class="material-icons" data-toggle="tooltip" title="Disable">&#xe8ac;</i>
                        </a>
                        <!--Enabling-->
                        <div th:if="!${student.user.enabled}" th:id="'enable-message-' + ${student.user.userId}" style="display: none;" th:data-enable-message="'Enable this user?&#10;User ID: ' + ${student.user.userId} + '&#10;Username: ' + ${student.user.username}"></div>
                        <a th:if="!${student.user.enabled}" th:href="@{/admin/users/enable(userId=${student.user.userId})}" class="text-success"
                           th:onclick="if(!confirm(document.getElementById('enable-message-' + [[${student.user.userId}]]).getAttribute('data-enable-message'))) return false">
                            <i class="material-icons" data-toggle="tooltip" title="Enable">&#xe8ac;</i>
                        </a>
                        <!--End of cell-->
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <!-- Pagination -->
        <!-- Pagination -->
    </div>
</main>
<!--Main layout-->
<script th:inline="javascript">
    $(document).ready(function(){
        // Check if modal parameter is present in URL
        var urlParams = new URLSearchParams(window.location.search);
        if(['addFromMain','uniqueconstraint'].some(param => urlParams.has(param))){
            // Open the modal
            $('#addStudentModal').modal('show');
        }
    });

    // Get the filter value from the query string or any other source
    const urlParams = new URLSearchParams(window.location.search);
    const filter = urlParams.get('filter');

    // Select the appropriate option based on the filter value
    const selectElement = document.getElementById('classFilter');
    console.log(filter);
    if (filter === null) {
    selectElement.selectedIndex = 0; // Select the first option
    } else {
    selectElement.value = filter; // Select the option corresponding to the filter value
    }


    function classFilter(selectedValue) {
    var filterValue = selectedValue.value;
    var currentUrl = window.location.href;

    // Remove existing parameters
    var baseUrl = currentUrl.split('?')[0];

    // Append only the "filter" parameter
    var filterUrl = baseUrl + '?filter=' + encodeURIComponent(filterValue);

    // Redirect to the new URL
    window.location.href = filterUrl;
    }
</script>
<div th:insert="~{resources :: user-profile}"></div>
</body>
</html>